{% extends 'base.html.twig' %}
{% block body%}
<h3 class="title_ani">
            Welcome to the Jazz Emporium!
          </h3>
          <table class="center">
            <tr>
              <td>
                <p class="lead" style="text-indent: 8px; text-align: justify;text-justify: inter-word;">
              <br>
                Here you will find some of the best Jazz albums of all time for 
                sale. These are not CDs, digital downloads or any other type of 
                digital media, they are vinyl records. They are reprints of 
                original albums released years ago that, in some cases, were 
                out of print for decades. Now, amongst the rising resurgance of 
                popularity in vinyl albums, they are being reproduced for all to 
                enjoy.<br></p>
                <p class="lead">
                Check out our catalog!
                
                </p>
              </td>
            </tr>
          </table>
{% endblock %}