{% extends "base.html.twig" %}
{% block alert %}
{% if message is defined %}
<div class="{{message.type}}">{{message.message}}</div>
    {% endif %}
{% endblock %}
{% block body%}

  <h3 class="title_ani">
    Welcome to the Jazz Lounge!
  </h3>

  <div class="container" style="width:400px">
    <div class="row">
      <div class="col"><p class="lead" style="text-indent: 8px; text-align: justify;text-justify: inter-word;">
      <br>
        Here you will find some of the best Jazz albums of all time for 
        sale. These are not CDs, digital downloads or any other type of 
        digital media, they are vinyl records. They are reprints of 
        original albums released years ago that, in some cases, were 
        out of print for decades. Now, amongst the rising resurgance of 
        popularity in vinyl albums, they are being reproduced for all to 
        enjoy.<br></p>
        <p class="lead">
        Check out our catalog!
        
        </p>
      </div>
    </div>
    </div>
    <div class="container" style="width:450px;">
      <div class="products">
{% for product in carousel %}
      <div><img src="https://natenasteff.com/jazz_lounge/img/{{product.image}}.jpg"
    style="width:120px;height:120px;">
    </div>
{% endfor %}
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.products').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  </script>

{% endblock %}