{% extends 'base.html.twig' %}

{% block title %}Thanks~
{% endblock %}
{% block message %}{% endblock %}
{% block body %}
	<div container>
		Clic<a href="{{ path("register") }}">here</a>
		to register.
	{% endblock %}
